@import 'c/odDatatableCSSLibrary';

.iconImage {
  height: var(--slds-g-sizing-9, 2rem);
  width: var(--slds-g-sizing-10, 3rem);
  outline: none;
}

.iconTooltip {
  top: 0;
  width: max-content;
}

.iconTooltip.top {
  top: -3rem;
}

.iconTooltip.right {
  margin-left: var(--slds-g-spacing-4, 1rem);
}

.iconTooltip.left {
  right: 0;
  margin-right: var(--slds-g-spacing-10, 4rem);
}

.iconTooltip .slds-popover__body {
  min-height: var(--slds-g-sizing-10, 3rem);
  min-width: var(--slds-g-sizing-11, 4rem);
}