:host {
  --slds-g-color-accent-container-1: #3d4a82;
  --slds-g-color-accent-container-2: #657786;
}

.banner-section {
  background-color: var(--slds-g-color-accent-container-1, var(--lwc-brandAccessible));
}

.error-text {
  color: red;
}